@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Расписание группы ИС 9-5</h1>
    <h2 class="display-5">Понедельник</h2>
    <table class="table">
	<thead>
		<tr>
			<th>№ пары</th>
			<th>Время</th>
			<th>Предмет</th>
			<th>Кабинет</th>		
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>4</td>
			<td>14.00</td>
			<td>Высшая математика</td>
			<td>39</td>
		</tr>
        <tr>
        <td>5</td>
        <td>15.35</td>
        <td>Английский язык</td>
        <td>21</td>
		</tr>
         <tr>
        <td>6</td>
        <td>17.00</td>
        <td>МДК 01.02</td>
        <td>36/37</td>
		</tr>
         <tr>
        <td>7</td>
        <td>18.25</td>
        <td>ОЭД</td>
        <td>45/47</td>
		</tr>
	</tbody>
</table>
<h2 class="display-5">Вторник</h2>
    <table class="table">
	<thead>
		<tr>
			<th>№ пары</th>
			<th>Время</th>
			<th>Предмет</th>
			<th>Кабинет</th>		
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>4</td>
			<td>14.00</td>
			<td>Высшая математика</td>
			<td>39</td>
		</tr>
        <tr>
        <td>5</td>
        <td>15.35</td>
        <td>Английский язык</td>
        <td>21</td>
		</tr>
         <tr>
        <td>6</td>
        <td>17.00</td>
        <td>МДК 01.02</td>
        <td>36/37</td>
		</tr>
         <tr>
        <td>7</td>
        <td>18.25</td>
        <td>ОЭД</td>
        <td>45/47</td>
		</tr>
	</tbody>
</table>
<h2 class="display-5">Среда</h2>
    <table class="table">
	<thead>
		<tr>
			<th>№ пары</th>
			<th>Время</th>
			<th>Предмет</th>
			<th>Кабинет</th>		
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>4</td>
			<td>14.00</td>
			<td>Высшая математика</td>
			<td>39</td>
		</tr>
        <tr>
        <td>5</td>
        <td>15.35</td>
        <td>Английский язык</td>
        <td>21</td>
		</tr>
         <tr>
        <td>6</td>
        <td>17.00</td>
        <td>МДК 01.02</td>
        <td>36/37</td>
		</tr>
         <tr>
        <td>7</td>
        <td>18.25</td>
        <td>ОЭД</td>
        <td>45/47</td>
		</tr>
	</tbody>
</table>
<h2 class="display-5">Четверг</h2>
    <table class="table">
	<thead>
		<tr>
			<th>№ пары</th>
			<th>Время</th>
			<th>Предмет</th>
			<th>Кабинет</th>		
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>4</td>
			<td>14.00</td>
			<td>Высшая математика</td>
			<td>39</td>
		</tr>
        <tr>
        <td>5</td>
        <td>15.35</td>
        <td>Английский язык</td>
        <td>21</td>
		</tr>
         <tr>
        <td>6</td>
        <td>17.00</td>
        <td>МДК 01.02</td>
        <td>36/37</td>
		</tr>
         <tr>
        <td>7</td>
        <td>18.25</td>
        <td>ОЭД</td>
        <td>45/47</td>
		</tr>
	</tbody>
</table>
<h2 class="display-5">Пятница</h2>
    <table class="table">
	<thead>
		<tr>
			<th>№ пары</th>
			<th>Время</th>
			<th>Предмет</th>
			<th>Кабинет</th>		
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>4</td>
			<td>14.00</td>
			<td>Высшая математика</td>
			<td>39</td>
		</tr>
        <tr>
        <td>5</td>
        <td>15.35</td>
        <td>Английский язык</td>
        <td>21</td>
		</tr>
         <tr>
        <td>6</td>
        <td>17.00</td>
        <td>МДК 01.02</td>
        <td>36/37</td>
		</tr>
         <tr>
        <td>7</td>
        <td>18.25</td>
        <td>ОЭД</td>
        <td>45</td>
		</tr>
	</tbody>
</table>
</div>
